.mat-menu {
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.top {
    font-size: smaller;
    font-weight: bolder;
}

mat-button {
    color: aqua;
}

.example-container {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
    background-color: aqua;
}