<div class="text-center">
    <h2 class="jumbotron">Employee Register</h2>
</div>

<div class="row">

    <div class="col-md-5">
        <app-invoicelist></app-invoicelist>
    </div>

    <div class="col-md-7">

        <form #employeeForm="ngForm" (ngSubmit)="onSubmit(employeeForm)">
            <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="workorder.selectedCustomer.$key">
            <div class="form-group">
                <label>Name</label>
                <input class="form-control" name="name" #name="ngModel" [(ngModel)]="workorder.selectedCustomer.name" placeholder="Name">
            </div>
            <div class="form-group">
                <label>phone</label>
                <input class="form-control" name="phone" #phone="ngModel" [(ngModel)]="workorder.selectedCustomer.phone" placeholder="phone">
            </div>
            <div class="form-group">
                <label>ordernum</label>
                <input class="form-control" name="orderNum" #orderNum="ngModel" [(ngModel)]="workorder.selectedCustomer.orderNum" placeholder="ordernum">
            </div>

            <div class="form-group">
                <label>location</label>
                <input class="form-control" name="location" #location="ngModel" [(ngModel)]="workorder.selectedCustomer.location" placeholder="location">
            </div>

            <div class="form-group">
                <label>balance</label>
                <input class="form-control" name="balance" #balance="ngModel" [(ngModel)]="workorder.selectedCustomer.balance" placeholder="balance">
            </div>

            <div class="form-group">
                <label>Total</label>
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="fa fa-dollar"></i>
                    </div>
                    <input class="form-control" name="balance" #balance="ngModel" [(ngModel)]="workorder.selectedCustomer.balance" placeholder="balance">
                </div>
            </div>


            <div class="form-group">
                <button class="btn btn-default" type="submit">
      <i class="fa fa-floppy-o"></i>
       Submit</button>
                <button class="btn btn-default" type="button" (click)="resetForm(employeeForm)">

      <i class="fa fa-repeat"></i>
       Reset</button>
                <button class="btn btn-default" type="button" (click)="addBalance(employeeForm)">

            <i class="fa fa-repeat"></i>
             testbal</button>

            </div>
        </form>
    </div>