<h2>

    Place Order</h2>
<div container="newone">

    <form class="example-form" id="formNewProduct" name="formNewProduct" #productData="ngForm" (ngSubmit)="addNewProduct(productData.value)">
        <!--
    <input  type="text" mat-label="name" placeholder="input" ngModel><br>

   <input type="number" mat-label="price" placeholder="input" ngModel><br>
-->

        <div sales-container>




            <!--
            <mat-form-field class="example-full-width">
                <input matInput type="text" mat-label="product" name="product" placeholder="product" ngModel><br>
            </mat-form-field>
            -->


            <div>
                <mat-form-field class="example-full-width">Cust ID**
                    <mat-select id="customers" [(value)]="customerz">

                        <mat-option *ngFor="let prdct of custarray" [value]='prdct.$key'>{{prdct.name}}</mat-option>

                    </mat-select>
                </mat-form-field>
            </div>



            <div>
                <mat-form-field class="example-full-width">Select Item
                    <mat-select id="product" [(value)]="product33">

                        <mat-option *ngFor="let prdct of prdctSelect" [value]='prdct.prodnum'>{{prdct.name}}</mat-option>

                    </mat-select>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field class="example-full-width">
                    <input matInput type="number" mat-label="price" name="price" placeholder="price" ngModel><br>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <input matInput [matDatepicker]="picker" name="date" placeholder="Choose a date" ngModel>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>



            <mat-form-field class="example-full-width">
                <input matInput type="number" mat-label="quantity" name="quantity" placeholder="QNTY" ngModel><br>
            </mat-form-field>
        </div>


        <mat-form-field required=true>Weight
            <mat-select [(value)]="selected12">

                <mat-option value="10">10kg</mat-option>
                <mat-option value="20">20kg</mat-option>
                <mat-option value="70">70kg</mat-option>
            </mat-select>
        </mat-form-field>

        <div>
            <input type="submit" value="Add Order">

        </div>
        <section class="example-section">
            <mat-checkbox #showDiv>Show Order List</mat-checkbox>

        </section>




    </form>

</div>






<div container *ngIf="showDiv.checked">
    <mat-card>
        <mat-table #table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="name">
                <mat-header-cell *matHeaderCellDef>Name </mat-header-cell>
                <mat-cell *matCellDef="let Sales"> {{Sales.name}} </mat-cell>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="weight">
                <mat-header-cell *matHeaderCellDef> Weight </mat-header-cell>
                <mat-cell *matCellDef="let Sales"> {{Sales.weight}} </mat-cell>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="price">
                <mat-header-cell *matHeaderCellDef> Price </mat-header-cell>
                <mat-cell *matCellDef="let Sales"> {{Sales.price}} </mat-cell>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="product">
                <mat-header-cell *matHeaderCellDef> product </mat-header-cell>
                <mat-cell *matCellDef="let Sales"> {{Sales.product}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef> id </mat-header-cell>
                <mat-cell *matCellDef="let Sales"> {{Sales.id}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="quantity">
                <mat-header-cell *matHeaderCellDef> quantity </mat-header-cell>
                <mat-cell *matCellDef="let Sales"> {{Sales.quantity}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="custid">
                <mat-header-cell *matHeaderCellDef> Cust Id </mat-header-cell>
                <mat-cell *matCellDef="let Sales"> {{Sales.custid}} </mat-cell>
            </ng-container>


            <ng-container matColumnDef="prodnum">
                <mat-header-cell *matHeaderCellDef>prodnumber </mat-header-cell>
                <mat-cell *matCellDef="let Sales"> {{Sales.prodnum}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="status">
                <mat-header-cell *matHeaderCellDef>status </mat-header-cell>
                <mat-cell *matCellDef="let Sales">
                    <button>dispatch</button>
                </mat-cell>
            </ng-container>


            <ng-container matColumnDef="date">
                <mat-header-cell *matHeaderCellDef> date </mat-header-cell>
                <mat-cell *matCellDef="let Sales"> {{Sales.date}} </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns:  displayedColumns" (click)="selectRow(row)"></mat-row>
        </mat-table>
    </mat-card>
</div>